<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
   <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
   <div class="section">
      <div class="menu">
         <ul class="menu-list">
            <li><a href="{{url_for('index')}}">Index</a></li>
            <li><a href="{{url_for('upload')}}">Upload</a></li>
            <li><a href="{{url_for('deletefile')}}">Delete</a></li>
         </ul>
      </div>

      <hr>


      <h1>IBM Object Storage</h1>
      <h2>{% for row in files %}</h2>
      <div class="content">
         <h3>Filename : {{row}} </h3>
         <img src="https://bucket-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{row}}" width="150px">
      </div>
      {% endfor %}
   </div>

</body>

</html>